#datepick-div {
	background: rgb(255, 255, 255); width: 220px; color: rgb(34, 34, 34);
}
.datepick-inline {
	background: rgb(255, 255, 255); width: 220px; color: rgb(34, 34, 34);
}
#datepick-div select.datepick-new-month {
	width: 70%;
}
#datepick-div select.datepick-new-year {
	width: 30%;
}
#datepick-div {
	border-width: 1px 1px medium; border-style: solid solid none; border-color: rgb(185, 185, 185) rgb(185, 185, 185) currentColor; border-image: none; display: none; z-index: 100;
}
.datepick-inline {
	border: 0px currentColor; border-image: none; float: left; display: block;
}
#datepick-div table td {
	height: 16px;
}
#datepick-div table th {
	height: 22px;
}
.datepick-rtl {
	direction: rtl;
}
.datepick-dialog {
	padding: 5px !important; border: 4px ridge rgb(185, 185, 185) !important; border-image: none !important;
}
.datepick-disabled {
	position: absolute; z-index: 100; opacity: 0.5; background-color: white;
}
button.datepick-trigger {
	width: 25px;
}
img.datepick-trigger {
	margin: 2px; vertical-align: middle;
}
.datepick-prompt {
	padding: 2px; float: left;
}
* html .datepick-prompt {
	width: 220px;
}
.datepick-control {
	width: 100%; color: rgb(34, 34, 34); clear: both; float: left;
}
.datepick-links {
	width: 100%; color: rgb(34, 34, 34); clear: both; float: left;
}
.datepick-header {
	width: 100%; color: rgb(34, 34, 34); clear: both; float: left;
}
.datepick {
	width: 100%; color: rgb(34, 34, 34); clear: both; float: left;
}
.datepick-control {
	background: rgb(254, 230, 227); padding: 2px 0px; display: none;
}
.datepick-links {
	background: rgb(255, 255, 255); padding: 2px 0px;
}
.datepick-control {
	color: rgb(59, 89, 152); font-size: 80%;
}
.datepick-links {
	color: rgb(59, 89, 152); font-size: 80%;
}
.datepick-links label {
	padding: 2px 5px; color: rgb(136, 136, 136);
}
.datepick-clear {
	width: 34%; float: left;
}
.datepick-prev {
	width: 34%; float: left;
}
.datepick-rtl .datepick-clear {
	text-align: right; float: right;
}
.datepick-rtl .datepick-prev {
	text-align: right; float: right;
}
.datepick-current {
	width: 30%; text-align: center; float: left;
}
.datepick-close {
	width: 34%; text-align: right; float: right;
}
.datepick-next {
	width: 34%; text-align: right; float: right;
}
.datepick-rtl .datepick-close {
	text-align: left; float: left;
}
.datepick-rtl .datepick-next {
	text-align: left; float: left;
}
.datepick-header {
	background: rgb(224, 224, 224); height: 1.3em; text-align: center; color: rgb(59, 89, 152); font-weight: bold;
}
.datepick-header select {
	background: rgb(224, 224, 224); border: 0px currentColor; border-image: none; color: rgb(59, 89, 152); font-weight: bold;
}
.datepick-header span {
	top: 3px; position: relative;
}
.datepick {
	text-align: center; font-size: 100%;
}
.datepick a {
	width: 100%; display: block;
}
.datepick-title-row th {
	text-align: center; font-weight: normal;
}
.datepick-week-col {
	background: rgb(224, 224, 224);
}
.datepick-days-cell {
	border: 1px solid rgb(211, 211, 211); border-image: none;
}
.datepick-days-cell a {
	background: rgb(238, 238, 238); display: block;
}
.datepick-other-month a {
	background: rgb(255, 255, 255);
}
.datepick-unselectable {
	color: rgb(136, 136, 136);
}
.datepick-week-over a {
	background: rgb(224, 224, 224);
}
.datepick-today {
	border: 1px solid rgb(252, 239, 161); border-image: none;
}
.datepick-today a {
	background: rgb(251, 249, 238);
}
.datepick-current-day {
	border: 1px solid rgb(185, 185, 185); border-image: none;
}
.datepick-current-day a {
	background: rgb(224, 224, 224); color: rgb(34, 34, 34);
}
.datepick-days-cell-over {
	border: 1px solid rgb(153, 153, 153); border-image: none;
}
.datepick-days-cell-over a {
	background: rgb(218, 218, 218);
}
.datepick-status {
	width: 100%; text-align: center; font-size: 80%;
}
#datepick-div a {
	margin: 0px; padding: 0px; text-decoration: none; cursor: pointer;
}
.datepick-inline a {
	margin: 0px; padding: 0px; text-decoration: none; cursor: pointer;
}
.datepick-inline .datepick-links a {
	padding: 0px 5px !important;
}
.datepick-control a {
	padding: 2px 5px !important; color: rgb(34, 34, 34) !important;
}
.datepick-links a {
	padding: 2px 5px !important; color: rgb(34, 34, 34) !important;
}
.datepick-control a:hover {
	background: rgb(255, 208, 208);
}
.datepick-links a:hover {
	background: rgb(224, 224, 224);
}
.datepick-title-row a:hover {
	background: rgb(224, 224, 224);
}
.datepick-multi .datepick {
	border: 1px solid rgb(185, 185, 185); border-image: none;
}
.datepick-one-month {
	width: 220px; float: left;
}
.datepick-new-row {
	clear: left;
}
.datepick-cover {
	left: -1px; top: -1px; width: 187px; height: 187px; display: block; position: absolute; z-index: -1;
}
