#facebox {
	left: 0px; top: 0px; text-align: left; position: absolute; z-index: 100;
}
#facebox .popup {
	border-radius: 5px; border: 3px solid rgba(0, 0, 0, 0); border-image: none; position: relative; box-shadow: 0px 0px 18px rgba(0,0,0,0.4); -webkit-border-radius: 5px; -moz-border-radius: 5px; -webkit-box-shadow: 0 0 18px rgba(0, 0, 0, 0.4); -moz-box-shadow: 0 0 18px rgba(0, 0, 0, 0.4);
}
#facebox .content {
	background: rgb(255, 255, 255); padding: 10px; border-radius: 4px; width: 400px; display: table; -webkit-border-radius: 4px; -moz-border-radius: 4px;
}
#facebox .content > p:first-child {
	margin-top: 0px;
}
#facebox .content > p:last-child {
	margin-bottom: 0px;
}
#facebox .close {
	background: rgb(255, 255, 255); padding: 2px; top: 5px; right: 5px; position: absolute;
}
#facebox .close img {
	opacity: 0.3;
}
#facebox .close:hover img {
	opacity: 1;
}
#facebox .loading {
	text-align: center;
}
#facebox .image {
	text-align: center;
}
#facebox img {
	margin: 0px; border: 0px currentColor; border-image: none;
}
#facebox_overlay {
	left: 0px; top: 0px; width: 100%; height: 100%; position: fixed;
}
.facebox_hide {
	z-index: -100;
}
.facebox_overlayBG {
	z-index: 99; background-color: rgb(0, 0, 0);
}
