.second-level-menu {
	left: 7px; top: -1.25em; position: absolute;
}
.second-level-menu-list {
	width: 721px; height: 29px; overflow: hidden; position: relative;
}
.second-level-menu-list li {
	list-style: none; font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; float: left;
}
.second-level-menu-list li.backLava {
	background: url("../images/menu/lava-right.png") no-repeat right top; width: 9px; height: 20px; position: absolute; z-index: 8;
}
.second-level-menu-list li.backLava .leftLava {
	background: url("../images/menu/lava-left.png") no-repeat left top; height: 20px; margin-right: 9px;
}
.second-level-menu-list li a {
	margin: auto 7px; top: 4px; height: 20px; text-align: center; color: black; text-transform: uppercase; letter-spacing: 0px; overflow: hidden; font-size: 11px; font-weight: bold; text-decoration: none; float: left; display: block; position: relative; z-index: 10;
}
