.sidebar-menu ul {
	list-style: inside; margin: 1em; font-size: 13px;
}
.sidebar-menu ul li {
	margin: 0.25em 0px; padding: 0.25em 0.25em 0.25em 0.5em;
}
.sidebar-menu ul a {
	color: black; font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; text-decoration: none;
}
.sidebar-menu ul li {
	border: 1px solid white; border-image: none;
}
.sidebar-menu ul li:hover {
	border-radius: 5px; border: 1px solid rgb(234, 234, 234); border-image: none; background-color: rgb(234, 234, 234); -webkit-border-radius: 5px; -moz-border-radius: 5px;
}
.sidebar-menu ul li.active {
	border-radius: 5px; border: 1px solid rgb(234, 234, 234); border-image: none; background-color: rgb(234, 234, 234); -webkit-border-radius: 5px; -moz-border-radius: 5px;
}
.sidebar-menu ul li.active {
	border: 1px solid rgb(221, 238, 255); border-image: none; background-color: rgb(221, 238, 255);
}
