.markItUp * {
	margin: 0px; padding: 0px;
}
.markItUp a:link {
	color: rgb(0, 0, 0); text-decoration: none;
}
.markItUp a:visited {
	color: rgb(0, 0, 0); text-decoration: none;
}
.markItUp {
	margin: 5px 0px; border: 0px solid rgb(245, 245, 245); border-image: none;
}
.markItUpContainer {
	font: 11px/normal Verdana, Arial, Helvetica, sans-serif; padding: 5px 5px 2px; border: 1px solid rgb(185, 185, 185); border-image: none; font-size-adjust: none; font-stretch: normal;
}
.markItUpEditor {
	font: 12px/18px Consolas, "Lucida Console", "Andale Mono", "Bitstream Vera Sans Mono", "Courier New", Courier; padding: 5px; border: 1px solid rgb(185, 185, 185); border-image: none; height: 320px; overflow: auto; clear: both; font-size-adjust: none; font-stretch: normal;
}
.markItUpPreviewFrame {
	margin: 5px 0px; border: 1px solid rgb(60, 118, 157); border-image: none; width: 99.9%; height: 300px; overflow: auto; background-color: rgb(255, 255, 255);
}
.markItUpFooter {
	width: 100%; cursor: n-resize;
}
.markItUpResizeHandle {
	width: 22px; height: 5px; overflow: hidden; margin-right: auto; margin-left: auto; cursor: n-resize; background-image: url("images/handle.png");
}
.markItUpHeader ul li {
	list-style: none; margin: 0px; padding: 0px; float: left; position: relative;
}
.markItUpHeader ul li ul {
	display: none;
}
.markItUpHeader ul li:hover > ul {
	display: block;
}
.markItUpHeader ul .markItUpDropMenu {
	background: url("images/menu.png") no-repeat 115% 50%; margin-right: 5px;
}
.markItUpHeader ul .markItUpDropMenu li {
	margin-right: 0px;
}
.markItUpHeader ul .markItUpSeparator {
	margin: 0px 10px; width: 1px; height: 16px; overflow: hidden; background-color: rgb(204, 204, 204);
}
.markItUpHeader ul ul .markItUpSeparator {
	margin: 0px; width: auto; height: 1px;
}
.markItUpHeader ul ul {
	background: rgb(255, 255, 255); border: 1px solid rgb(185, 185, 185); border-image: none; left: 0px; top: 18px; height: inherit; display: none; position: absolute;
}
.markItUpHeader ul ul li {
	border-bottom-color: rgb(185, 185, 185); border-bottom-width: 1px; border-bottom-style: solid; float: none;
}
.markItUpHeader ul ul .markItUpDropMenu {
	background: url("images/submenu.png") no-repeat 100% 50% rgb(255, 255, 255);
}
.markItUpHeader ul ul ul {
	left: 150px; top: -1px; position: absolute;
}
.markItUpHeader ul ul ul li {
	float: none;
}
.markItUpHeader ul a {
	margin: 0px; padding: 3px; width: 16px; height: 16px; text-indent: -10000px; display: block; background-repeat: no-repeat;
}
.markItUpHeader ul ul a {
	background-position: 2px 50%; padding: 5px 5px 5px 25px; width: 120px; text-indent: 0px; display: block;
}
.markItUpHeader ul ul a:hover {
	color: rgb(255, 255, 255); background-color: rgb(60, 118, 157);
}
.html .markItUpEditor {
	background-image: url("images/bg-editor-html.png");
}
.markdown .markItUpEditor {
	background-image: url("images/bg-editor-none.png");
}
.textile .markItUpEditor {
	background-image: url("images/bg-editor-textile.png");
}
.bbcode .markItUpEditor {
	background-image: url("images/bg-editor-bbcode.png");
}
.wiki .markItUpEditor {
	background-image: url("images/bg-editor-wiki.png");
}
.dotclear .markItUpEditor {
	background-image: url("images/bg-editor-wiki.png");
}
