div.ttypography textarea {
	font-family: Consolas, "Lucida Console", "Andale Mono", "Bitstream Vera Sans Mono", "Courier New", Courier;
}
div.ttypography pre {
	font-family: Consolas, "Lucida Console", "Andale Mono", "Bitstream Vera Sans Mono", "Courier New", Courier;
}
div.ttypography code {
	font-family: Consolas, "Lucida Console", "Andale Mono", "Bitstream Vera Sans Mono", "Courier New", Courier;
}
div.ttypography kbd {
	font-family: Consolas, "Lucida Console", "Andale Mono", "Bitstream Vera Sans Mono", "Courier New", Courier;
}
div.ttypography samp {
	font-family: Consolas, "Lucida Console", "Andale Mono", "Bitstream Vera Sans Mono", "Courier New", Courier;
}
div.ttypography var {
	font-family: Consolas, "Lucida Console", "Andale Mono", "Bitstream Vera Sans Mono", "Courier New", Courier;
}
div.ttypography tt {
	font-family: Consolas, "Lucida Console", "Andale Mono", "Bitstream Vera Sans Mono", "Courier New", Courier;
}
div.ttypography {
	color: rgb(34, 34, 34); line-height: 21px; font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 14px; -ms-word-wrap: break-word; base: 14px; -webkit-text-size-adjust: 100%;
}
div.ttypography .tt {
	margin: 0px 4px; padding: 2px 4px; border-radius: 3px; border: 1px solid rgb(204, 204, 204); border-image: none; white-space: nowrap; background-color: rgb(248, 248, 248); -webkit-border-radius: 3px; -moz-border-radius: 3px;
}
div.ttypography h1 {
	margin: 0px; color: rgb(22, 30, 33); font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; font-weight: 400;
}
div.ttypography h2 {
	margin: 0px; color: rgb(22, 30, 33); font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; font-weight: 400;
}
div.ttypography h3 {
	margin: 0px; color: rgb(22, 30, 33); font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; font-weight: 400;
}
div.ttypography h4 {
	margin: 0px; color: rgb(22, 30, 33); font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; font-weight: 400;
}
div.ttypography h5 {
	margin: 0px; color: rgb(22, 30, 33); font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; font-weight: 400;
}
div.ttypography h6 {
	margin: 0px; color: rgb(22, 30, 33); font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; font-weight: 400;
}
div.ttypography h1 {
	margin: 0.42em 0px 0px; line-height: 0.85em; font-size: 250%;
}
div.ttypography h2 {
	margin: 0.6em 0px 0px; line-height: 1.2em; font-size: 200%;
}
div.ttypography h3 {
	margin: 0.85em 0px 0px; line-height: 0.85em; font-size: 175%;
}
div.ttypography h4 {
	margin: 1.25em 0px 0px; line-height: 1.25em; font-size: 150%;
}
div.ttypography h5 {
	margin: 1.28em 0px 0px; line-height: 1.28em; font-size: 135%;
}
div.ttypography h6 {
	margin: 1.5em 0px 0px; line-height: 1.5em; font-size: 100%; font-weight: bold;
}
div.ttypography ul {
	margin: 0.5em 0px 0px 1em; line-height: 1.5em; font-size: 1em;
}
div.ttypography ol {
	margin: 0.5em 0px 0px 1em; line-height: 1.5em; font-size: 1em;
}
div.ttypography dl {
	margin: 0.5em 0px 0px 1em; line-height: 1.5em; font-size: 1em;
}
div.ttypography ul {
	list-style-type: disc;
}
div.ttypography ol {
	list-style-type: decimal;
}
div.ttypography ul ul {
	margin-top: 0px; list-style-type: circle;
}
div.ttypography ol ol {
	margin-top: 0px; list-style-type: lower-latin;
}
div.ttypography ol ul {
	margin-top: 0px; list-style-type: circle;
}
div.ttypography li {
	line-height: 1.5em; font-size: 1em; margin-left: 0.8em;
}
div.ttypography dt {
	font-weight: bold;
}
div.ttypography dd {
	margin: 0px 0px 1.5em 0.8em;
}
div.ttypography p {
	margin: 1.5em 0px 0px; line-height: 1.4em; font-size: 1em;
}
div.ttypography blockquote {
	font-family: Georgia, "Times New Roman", Times, serif; font-style: italic;
}
div.ttypography cite {
	font-family: Georgia, "Times New Roman", Times, serif; font-style: italic;
}
div.ttypography q {
	font-family: Georgia, "Times New Roman", Times, serif; font-style: italic;
}
div.ttypography blockquote {
	margin: 1.5em 0px 0px 1.5em; color: rgb(102, 102, 102);
}
div.ttypography strong {
	font-weight: bold;
}
div.ttypography b {
	font-weight: bold;
}
div.ttypography em {
	font-style: italic;
}
div.ttypography i {
	font-style: italic;
}
div.ttypography big {
	font-size: 116.66%;
}
div.ttypography small {
	font-size: 85.71%;
}
div.ttypography pre {
	font-size: 100%;
}
div.ttypography code {
	font-size: 100%;
}
div.ttypography kbd {
	font-size: 100%;
}
div.ttypography tt {
	font-size: 100%;
}
div.ttypography samp {
	font-size: 100%;
}
div.ttypography var {
	font-size: 100%;
}
div.ttypography pre {
	margin: 1.5em 0px 0px; line-height: 1.5em; white-space: pre-wrap; -ms-word-wrap: break-word;
}
div.ttypography pre {
	color: rgb(136, 0, 0);
}
div.ttypography code {
	color: rgb(136, 0, 0);
}
div.ttypography kbd {
	color: rgb(102, 102, 102); font-weight: bold;
}
div.ttypography samp {
	color: rgb(102, 102, 102); font-weight: bold;
}
div.ttypography var {
	color: rgb(102, 102, 102); font-weight: bold;
}
div.ttypography tt {
	color: rgb(102, 102, 102); font-weight: bold;
}
div.ttypography var {
	font-style: italic;
}
div.ttypography dfn {
	font-style: italic;
}
div.ttypography acronym {
	letter-spacing: 0.07em; font-variant: small-caps; border-bottom-color: rgb(170, 170, 170); border-bottom-width: 1px; border-bottom-style: dotted; cursor: help;
}
div.ttypography abbr {
	letter-spacing: 0.07em; font-variant: small-caps; border-bottom-color: rgb(170, 170, 170); border-bottom-width: 1px; border-bottom-style: dotted; cursor: help;
}
div.ttypography sub {
	line-height: 0; font-size: 75%; vertical-align: baseline; position: relative;
}
div.ttypography sup {
	line-height: 0; font-size: 75%; vertical-align: baseline; position: relative;
}
div.ttypography sup {
	top: -0.5em;
}
div.ttypography sub {
	bottom: -0.25em;
}
div.ttypography mark {
	background: rgb(255, 255, 0); color: rgb(0, 0, 0);
}
div.ttypography hr {
	background: none; border-width: 0px 0px 1px; border-style: none none solid; border-color: currentColor currentColor rgb(238, 238, 238); margin: 0px 0px 0.75em; padding: 0px 0px 0.75em; border-image: none; color: rgb(255, 255, 255);
}
div.ttypography a {
	background: none; color: rgb(77, 135, 199); text-decoration: none;
}
div.ttypography a:active {
	
}
div.ttypography a:hover {
	color: rgb(255, 255, 255); text-decoration: none; background-color: rgb(136, 0, 0);
}
div.ttypography a:focus {
	color: rgb(255, 255, 255); text-decoration: none; background-color: rgb(136, 0, 0);
}
div.ttypography img {
	margin: 0px;
}
div.ttypography figure {
	margin: 0px;
}
div.ttypography .flexible {
	margin-top: 1.5em; max-width: 100%;
}
div.ttypography .bordered {
	border: 2px solid rgba(255, 255, 255, 1); border-image: none; margin-top: 1.5em; box-shadow: 0px 0px 3px rgba(0,0,0,0.25); -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, .25); -moz-box-shadow: 0 0 3px rgba(0, 0, 0, .25);
}
div.ttypography table {
	margin: 1.35em 0px 0px; color: rgb(34, 34, 34); border-top-color: rgb(204, 204, 204); border-bottom-color: rgb(204, 204, 204); border-top-width: 1px; border-bottom-width: 1px; border-top-style: solid; border-bottom-style: solid; border-collapse: collapse;
}
div.ttypography table.narrow {
	margin: 1.42em 0px 0px;
}
div.ttypography table.narrow th {
	padding: 0px 0.5em; line-height: 1.42em;
}
div.ttypography table.narrow td {
	padding: 0px 0.5em; line-height: 1.42em;
}
div.ttypography table.bordertable {
	border: 1px solid rgb(204, 204, 204); border-image: none;
}
div.ttypography table caption {
	font-variant: small-caps;
}
div.ttypography th {
	padding: 0.71em 0.5em; line-height: 1.5em; vertical-align: top;
}
div.ttypography td {
	padding: 0.71em 0.5em; line-height: 1.5em; vertical-align: top;
}
div.ttypography th *:first-child {
	margin-top: 0px;
}
td *:first-child {
	margin-top: 0px;
}
div.ttypography th.nowrap {
	white-space: nowrap;
}
div.ttypography td.nowrap {
	white-space: nowrap;
}
div.ttypography thead th {
	text-align: left; color: rgb(0, 0, 0); font-weight: bold; border-bottom-color: rgb(0, 0, 0); border-bottom-width: 2px; border-bottom-style: solid;
}
div.ttypography .bordertable thead th {
	background: rgb(224, 224, 224); font-weight: bold; border-right-color: rgb(204, 204, 204); border-bottom-color: rgb(204, 204, 204); border-right-width: 1px; border-bottom-width: 1px; border-right-style: solid; border-bottom-style: solid;
}
div.ttypography .bordertable tbody th[scope='row'] {
	background: rgb(240, 240, 240);
}
div.ttypography tbody th {
	text-align: left; font-weight: bold; border-top-color: rgb(204, 204, 204); border-top-width: 1px; border-top-style: solid;
}
div.ttypography .bordertable tbody th {
	font-weight: bold; border-right-color: rgb(204, 204, 204); border-right-width: 1px; border-right-style: solid;
}
div.ttypography tbody td {
	text-align: left; border-top-color: rgb(204, 204, 204); border-top-width: 1px; border-top-style: solid;
}
div.ttypography .bordertable tbody td {
	border-right-color: rgb(204, 204, 204); border-right-width: 1px; border-right-style: solid;
}
div.ttypography tbody tr:hover th {
	background: rgb(248, 248, 248);
}
div.ttypography tbody tr:hover td {
	background: rgb(248, 248, 248);
}
div.ttypography pre code {
	font-size: 95%; position: relative;
}
div.ttypography .MathJax {
	color: black !important;
}
